  body {
    height         : 100%;
    width          : 100%;
    padding-top    : 50px;
    padding-bottom : 60px;
  }


  #map {
    position:absolute;
    top:50px; 
    bottom:0; 
    width:100%;
    z-index: 1;
    height:100%
  }

  circle.ping {
      stroke       : #000;
      stroke-width : 0.5px;
      fill         : red;
  }

  .container .text-muted {
    margin : 20px 0;
  }

  .marker {
    width         : 2;
    height        : 2;
    border        : 2px solid red;
    border-radius : 50%;
  }

